{
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "extends": ["airbnb-base/legacy", "prettier"],
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "linebreak-style": "off",
    "no-console": "off",
    "global-require": "off",
    "func-names": "off",
    "no-multi-assign": "off",
    "no-param-reassign": "off",
    "vars-on-top": "off",
    "no-plusplus": "off",
    "no-multiple-empty-lines": [
      "error", {
        "max": 1
      }
    ],
    "implicit-arrow-linebreak": ["error", "below"],
    "max-len": ["error", 120],
    "comma-dangle": ["error", "only-multiline"]
  },
  "parserOptions": {
    "ecmaVersion": 14
  },
  "ignorePatterns":[
    "distribute"
  ]
}