body {
  margin: 0;
  padding: 0;
}

#loading {
  position: absolute;
  top: calc(50% - 48px);
  left: calc(50% - 48px);
  width: 96px;
  height: 96px;
  border: 3px solid #ff7c81;
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.start {
  color: #ed1996;
}
.start:hover {
  color: #d44197;
}