body {
  margin: 0;
  padding: 0;
  color: #ed1996;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #ed1996;
}

#loading {
  position: absolute;
  top: calc(50% - 48px);
  left: calc(50% - 48px);
  width: 96px;
  height: 96px;
  border: 3px solid #ff7c81;
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#startPhotoBooth img {
  height: 80vh;
}

#startPhotoBooth span {
  font-size: 15vh;
  font-weight: bold;
  display: inline-block;
  margin-top: 0%;
  margin-top: -5%;
}

#app,
#step1,
#step2,
#step3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: #fff;
}

#step1 {
  text-align: center;
}

#step1 div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#step1 span {
  font-size: 15vh;
  font-weight: bold;
}

#step1 #arrow {
  display: inline-block;
  animation: updown 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#step1 #frameNumber {
  font-size: 10vh;
}

.fadein {
  animation: fadein 0.5s;
  animation-timing-function: ease-out;
}

.fadeout {
  animation: fadeout 0.5s;
  animation-timing-function: ease-out;
}

.enlarge {
  animation: enlarge 1s;
  animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes enlarge {
  from {
    opacity: 1;
    font-size: 20vh;
  }

  to {
    font-size: 40vh;
    opacity: 0;
  }
}

@keyframes updown {
  from {
    margin-top: 0%;
  }

  to {
    margin-top: 20%;
  }
}

